* {
  margin: 0;
  padding: 0;
  background: #48e5c2;
}

body {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #fcfaf9;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-container-logo {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 30vh;
  animation: fade 1.25s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.scroll-to-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 39vh;
  animation: blinker 2s linear infinite;
}

.scroll-to-projects-container {
  display: flex;
  justify-content: center;
  margin-top: 39vh;
  animation: blinker 2s linear infinite;
}

.scroll-to-technology-container {
  display: flex;
  justify-content: center;
  margin-top: 39vh;
  animation: blinker 2s linear infinite;
}

.scroll-to-contacts-container {
  display: flex;
  justify-content: center;
  margin-top: 39vh;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.main-container-profile,
.main-container-projects,
.main-container-technology,
.main-container-contacts {
  min-height: 100%;
  padding: 0vh 5vh 0vh 5vh;
  animation: fade 0.9s ease-in;
}

/* .main-container-projects {
  min-height: 100%;
  padding: 0vh 0vh 0vh 5vh;
  animation: fade 0.9s ease-in;
}

.main-container-technology {
  min-height: 100%;
  padding: 0vh 0vh 0vh 5vh;
  animation: fade 0.9s ease-in;
}

.main-container-contacts {
  min-height: 100%;
  padding: 0vh 0vh 0vh 5vh;
  animation: fade 0.9s ease-in;
} */

.logo-container,
.period {
  display: flex;
  justify-content: center;
}

.dgrant {
  white-space: nowrap;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 20vh;
  color: #fcfaf9;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  color: #fcfaf9;
}

.title-container {
  white-space: nowrap;
  font-size: 6vh;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  color: #fcfaf9;
}

.about-sd {
  width: 100%;
  white-space: nowrap;
  font-size: 3.5vh;
  font-weight: 700;
}

.about-mp {
  width: 100%;
  white-space: nowrap;
  justify-content: flex-end;
  font-size: 3.5vh;
  font-weight: 700;
}

.profile-about-container {
  width: 100%;
  display: flex;
  font-size: 3vh;
  font-weight: 700;
}

.profile-links-container {
  width: 100%;
  display: flex;
  font-family: "Dosis", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  color: #fff;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.email-phone-container {
  font-family: "Dosis", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  color: #fff;
}

.linkedin-highlight {
  background: url(./assets/brush-stroke-banner-5.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: 0px 0px;
  color: #f3d3bd;
  margin-left: 0.75vh;
  margin-right: 0.75vh;
  padding: 0px 0px 0px 0px;
}

.github-highlight {
  background: url(./assets/brush-stroke-banner-5.svg);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: 0px 0px;
  color: #f3d3bd;
  margin-left: 0.75vh;
  margin-right: 0.75vh;
  padding: 0px 0px 0px 0px;
}

.about-sd,
.about-mp {
  display: flex;
}

.cogs {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
  /* margin-top: 2px; */
}

.headphones {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dgrant {
  display: flex;
  justify-content: center;
}
